
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Amy Owen, <mark>34 года</mark></div>
                    <div class="commits__description">
                        Если бы я знала как лечить цистит правильно с самого начала, то бы не запустила его до хронической формы. Но я рада, что в моей жизни появилось такое средство как DETONIC. Препарат помог снять боль и воспаление. Через 3 дня после применения я уже нормально ходила в туалет. Хотя обычно болезнь затягивалась на недели… И самое главное, что приступы цистита у меня случаются по 3-5 раз в год. А после приема DETONIC прошло уже полгода без возобновления болезни.
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Cordelia Morgan, <mark>54 года</mark></div>
                    <div class="commits__description">
                        Что такое цистит я узнала после менопаузы. Врач сказала, что такое возможно из-за гормональной перестройки организма и ослабленного иммунитета. DETONIC мне помог лучше, чем другие средства. Сколько лет страдаю хроническим циститом, но впервые узнала, что обострения можно так быстро вылечить. Ни один антибиотик не сравнится с натуральным препаратом.
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Liliana Hoover, <mark>42 года</mark></div>
                    <div class="commits__description">
                        Отличный препарат! Действует быстро и очень надолго можно забыть о цистите. Первый раз принимала его года два назад после нескольких рецидивов цистита. К моему удивлению, обострений не было очень долго. Пока я очень сильно не  промёрзла. Как только я почувствовала первые симптомы цистита, то сразу вспомнила про DETONIC. Благодаря этому средству, я очень быстро вылечилась и до осложнений не дошло. Всем рекомендую!
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
