
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="section__title facts__title">
                <mark>3 главных факта</mark> о цистите
            </div>
            <div class="facts__list">
                <div class="facts__item">
                    <div class="facts-count">1.</div>
                    <div class="facts__description">
                        <mark>Чаще всего циститом болеют женщины из-за анатомических особенностей.</mark> До 50 лет 75% женщин хотя бы раз в жизни перенесли цистит.
                    </div>
                </div>
                <div class="facts__item">
                    <div class="facts-count">2.</div>
                    <div class="facts__description">
                        <mark>У 60% развивается хроническая форма,</mark> для которой характерно более трех обострений в год.
                    </div>
                </div>
                <div class="facts__item">
                    <div class="facts-count">3.</div>
                    <div class="facts__description">
                        <mark>Цистит может протекать и в скрытой форме, когда отсутствуют симптомы,</mark> лабораторные и бактериологические показатели находятся в пределах нормы. Это опасно развитием  пиелонефрита.
                    </div>
                </div>
            </div>
            <div class="facts__media">
                <div class="facts__media-explanation">поражение циститом</div>
                <div class="facts__media-explanation">здоровая поверхность мочевого пузыря</div>
            </div>
        </div>
    </div>
</section>
