
<section class="section section_fraud">
    <div class="container">
        <div class="fraud">
            <div class="fraud__head">
                <div class="section__title fraud__title">Остерегайтесь подделок!</div>
                <div class="fraud__subtitle">
                    В связи с огромной популярностью средства DETONIC, участились случаи фальсификации.
                    <span>Оригинальный препарат от цистита DETONIC можно приобрести только на этом сайте.</span>
                </div>
            </div>
            <div class="fraud__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="fraud__media">
                <img src="../media/fraud/img-1.png" alt="">
                <img src="../media/fraud/img-2.png" alt="">
                <img src="../media/fraud/img-3.png" alt="">
                <img src="../media/fraud/img-4.png" alt="">
            </div>
        </div>
    </div>
</section>
