 <section class="section section_ingredients">
     <div class="container">
         <div class="ingredients">
             <div class="section__title ingredients__title">Оптимально сбалансированная комбинация <mark>точно подобранных компонентов</mark></div>
             <div class="ingredients__product"><img src="../media/product.png" alt=""></div>
             <div class="ingredients__body">
                 <figure class="ingredients__item">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт листьев боярышника</div>
                     </div>
                     <figcaption class="ingredients__description">Продуцирует антитела, которые <span>подавляют патогенные</span> микроорганизмы в организме.</figcaption>
                 </figure>
                 <figure class="ingredients__item">
                     <div class="ingredients__head ingredients__head_right">
                         <div class="ingredients__media ingredients__media_right"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт семян тыквы</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_right">Оказывает бактерицидный <span>эффект и разрaушает клетку</span> возбудителей цистита.</figcaption>
                 </figure>
                 <figure class="ingredients__item">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт гвоздики</div>
                     </div>
                     <figcaption class="ingredients__description">Оказывает бактерицидное, <span>болеутоляющее и</span> спазмолитическое действие.</figcaption>
                 </figure>
                 <figure class="ingredients__item">
                     <div class="ingredients__head ingredients__head_right">
                         <div class="ingredients__media ingredients__media_right"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт плодов чаги</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_right">Натуральный антиоксидант <span>укрепляющий иммунитет.</span> </figcaption>
                 </figure>
                 <figure class="ingredients__item">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                         <div class="ingredients__name">Алоэ</div>
                     </div>
                     <figcaption class="ingredients__description">Регенерирует поврежденные <span>инфекцией клетки и ткани</span> слизистой.</figcaption>
                 </figure>
                 <figure class="ingredients__item">
                     <div class="ingredients__head ingredients__head_right">
                         <div class="ingredients__media ingredients__media_right"><img src="../media/ingredients/img-6.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт чеснока</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_right">Способствует <span>выведению микробов из</span> мочевыводящих путей. </figcaption>
                 </figure>
                 <figure class="ingredients__item ingredients__item_bottom">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-7.jpg" alt=""></div>
                         <div class="ingredients__name">Инулин</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_bottom">Природный пребиотик. Нормализует микрофлору и защищает организм от инфекционно-воспалительных действий в мочевыделительной системе.</figcaption>
                 </figure>
             </div>
         </div>
     </div>
 </section>
