
<section class="section section_professional">
    <div class="container">
        <div class="professional" data-aos="fade-right">
            <div class="section__title professional__title">Мнение специалиста:</div>
            <div class="professional__info">
                <p><mark>Ключ к быстрому и эффективному лечению цистита – своевременное назначение соответствующей терапии. При цистите положительно зарекомендовала себя фитотерапия. Этот метод лечения растительными средствами обосновался на научной платформе.</mark></p>
                <p><b>DETONIC показал себя в качестве эффективного и безопасного препарата.</b></p>
                <p>Я использую его в своей практике, так как препарат полностью натуральный, легко всасывается и с потоком крови быстро достигает места воспаления в мочевых путях. Главное отличие DETONIC от других препаратов натурального происхождения в том, что в его состав входит проантоцианидины, которые эффективны против бактерии Е.сoli и других возбудителей цистита.</p>
                <p><b>DETONIC обладает накопительным действием: </b></p>
                <ul>
                    <li>— облегчает симптомы заболевания</li>
                    <li>— снимает воспаление</li>
                    <li>— очищает мочеполовую систему от инфекций</li>
                    <li>— создает защитный слой, который предупреждает рецидивы и развитие хронического заболевания. </li>
                </ul>
            </div>
            <div class="professional__footer">
                <div class="professional__name">
                    <span>Conrad Gallagher</span>
                    <span>профессор, врач-уролог</span>
                </div>
                <div class="professional__id">
                    <img src="../media/professional/id.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="section__professional">
        <img src="../media/professional/human.png" alt="">
    </div>
</section>
