
<section class="section section_steps">
    <div class="container">
        <div class="steps">
            <div class="section__title steps__title" data-aos="fade-up">Detonic действует <mark>в 3 этапа:</mark></div>
            <div class="steps__body">
                <div class="steps__item" data-aos="zoom-in">
                    <div class="steps__nomber">1.</div>
                    <div class="steps__description">снимает <span>болезненные</span> симптомы</div>
                </div>
                <div class="steps__item" data-aos="zoom-in">
                    <div class="steps__nomber">2.</div>
                    <div class="steps__description">борется с <span>возбудителем</span> заболевания</div>
                </div>
                <div class="steps__item" data-aos="zoom-in">
                    <div class="steps__nomber">3.</div>
                    <div class="steps__description">формирует защиту <span>мочевыводящих</span> путей</div>
                </div>
            </div>
        </div>
    </div>
</section>
