
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-left">Основные симптомы <mark>обострения цистита:</mark></div>
            <div class="symptoms__box">
                <div class="symptoms__item" data-aos="zoom-in">ЧАСТЫЕ ПОЗЫВЫ В ТУАЛЕТ</div>
                <div class="symptoms__item" data-aos="zoom-in">БОЛЬ И ЖЖЕНИЕ ПРИ МОЧЕИСПУС- КАНИИ</div>
                <div class="symptoms__item" data-aos="zoom-in">ОПОРОЖНЕНИЕ МОЧЕВОГО ПУЗЫРЯ МАЛЫМИ ПОРЦИЯМИ </div>
                <div class="symptoms__item" data-aos="zoom-in">НЕПРИЯТНЫЙ ЗАПАХ И ПОМУТНЕНИЕ МОЧИ</div>
                <div class="symptoms__item" data-aos="zoom-in">ПОВЫШЕНИЕ ТЕМПЕРАТУРЫ ТЕЛА</div>
                <div class="symptoms__item" data-aos="zoom-in">ОЩУЩЕНИЕ НЕПОЛНОГО ОПОРОЖНЕНИЯ</div>
            </div>
        </div>
    </div>
</section>
