
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title">Основные симптомы <mark>обострения цистита:</mark></div>
            <div class="symptoms__box">
                <div class="symptoms__item">ЧАСТЫЕ ПОЗЫВЫ В ТУАЛЕТ</div>
                <div class="symptoms__item">БОЛЬ И ЖЖЕНИЕ ПРИ МОЧЕИСПУС- КАНИИ</div>
                <div class="symptoms__item">ОПОРОЖНЕНИЕ МОЧЕВОГО ПУЗЫРЯ МАЛЫМИ ПОРЦИЯМИ </div>
                <div class="symptoms__item">НЕПРИЯТНЫЙ ЗАПАХ И ПОМУТНЕНИЕ МОЧИ</div>
                <div class="symptoms__item">ПОВЫШЕНИЕ ТЕМПЕРАТУРЫ ТЕЛА</div>
                <div class="symptoms__item">ОЩУЩЕНИЕ НЕПОЛНОГО ОПОРОЖНЕНИЯ</div>
            </div>
        </div>
    </div>
</section>
