
<section class="section section_treatment">
    <div class="container">
        <div class="treatment">
            <div class="section__title treatment__title" data-aos="zoom-in"><mark>Detonic - натуральное средство,</mark> способствующее оздоровлению мочеполовой системы</div>
            <div class="treatment__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="treatment__list">
                <div class="treatment__item" data-aos="fade-left"><mark>Биоактивная формула</mark> для поддержки здоровья и защиты мочевыводящих путей </div>
                <div class="treatment__item" data-aos="fade-left"><mark>Быстро снимает</mark> симптомы цистита: боль, резь, жжение, воспаление</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Нормализует</mark> мочеиспускание</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Повышает устойчивость</mark> организма к инфекциям</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Препятствует прикреплению</mark> и размножению бактерий на поверхности слизистой мочевыводящих путей</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Регулирует</mark> окислительно-восстановитель- ные процессы и повышает иммунитет</div>
            </div>
        </div>
    </div>
</section>
