
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="section__title warning__title" data-aos="fade-up">
                <span><mark>Цистит – воспалительный процесс</mark></span>
                в слизистой оболочке мочевого пузыря</div>
            <div class="warning__subtitle">
                В 90%  случаев заболевание имеет инфекционный характер.
                <span><mark>Его вызывает «кишечная палочка» — Е.сoli.</mark></span>
            </div>
            <div class="warning__list">
                <div class="warning__list-name">Способствовать развитию инфекции может любая из этих причин:</div>
                <div class="warning__list-box">
                    <div class="warning__list-item" data-aos="fade-left">стресс</div>
                    <div class="warning__list-item" data-aos="fade-right">переохлаждение</div>
                    <div class="warning__list-item" data-aos="fade-left">травма</div>
                    <div class="warning__list-item" data-aos="fade-right">гормональные нарушения</div>
                    <div class="warning__list-item" data-aos="fade-left">перенесенные заболевания</div>
                    <div class="warning__list-item" data-aos="fade-right">особенности анатомического строения мочеиспускательных путей</div>
                </div>
            </div>
        </div>
    </div>
</section>
