
.face {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.face__logo {
    display: inline-block;
    padding: 5px 7px 3px;
    margin-bottom: 25px;
    font-size: 19px;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #aba195;
    border-radius: 3px;
}

.face__title {
    max-width: 280px;
    margin-bottom: 40px;
    font-size: 61px;
    line-height: 60px;

    & mark {
        color: #1b4b65;
    }
}

.face__check {
    position: relative;
    max-width: 280px;
    min-height: 59px;
    padding: 12px 12px 12px 50px;
    font-size: 16px;
    color: #fff;
    background-color: #52504d;
    border-radius: 3px;

    & + & {
        margin-top: 15px;
    }

    &::before {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 29px;
        height: 30px;
        content: '';
        background-image: url("../media/face/check.png");
        background-repeat: no-repeat;
    }
}

.face__eggs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.face__eggs-item {
    width: 50%;
    margin-bottom: 30px;
    font-family: "PlayfairDisplay", serif;
    font-size: 22px;
    font-weight: 800;
    color: #1b4b65;
    text-transform: uppercase;

    & mark {
        font-size: 30px;
        line-height: 0.45;
        color: inherit;
    }

    & span {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #52504d;
    }
}

.face__product {
    position: absolute;
    bottom: -120px;
    left: 50%;
    z-index: 1;
    max-width: 229px;
    margin-left: -120px;
    transform: translateX(-50%);

    &::before {
        position: absolute;
        bottom: -15px;
        left: -113px;
        z-index: -1;
        width: 450px;
        height: 148px;
        content: '';
        background-image: url("../media/product-before.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1030px) {
    .face__title {
        margin-bottom: 30px;
    }

    .face__product {
        max-width: 170px;
        margin-left: -40px;

        &::before {
            bottom: -11px;
            left: -69px;
            width: 312px;
            height: 103px;
        }
    }

    .face__check {
        max-width: 215px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .face {
        flex-direction: column;
    }

    .face__title {
        max-width: 100%;
        text-align: center;
    }

    .face__check {
        margin-right: auto;
        margin-left: auto;
    }

    .face__product {
        position: static;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
        transform: translateX(0);
    }

    .face__eggs {
        justify-content: center;
    }

    .face__eggs-item {
        width: 35%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .face__logo {
        display: block;
        text-align: center;
    }

    .face__check {
        max-width: 100%;
        font-size: 18px;
    }

    .face__product {
        &::before {
            display: none;
        }
    }
}
