
.professional__title {
    max-width: 430px;
    margin-bottom: 30px;
    font-size: 62px;
    line-height: 60px;
    color: #fff;
}

.professional__info {
    max-width: 860px;
    padding: 30px 240px 30px 38px;
    background-color: #fff;
    border-radius: 5px;

    p {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 23px;

        & mark {
            font-size: 22px;
            line-height: 27px;
            color: #1e46ac;
        }

        & b {
            font-weight: 600;
        }
    }

    li {
        list-style-type: none;

        & + li {
            margin-top: 15px;
        }
    }
}

.professional__footer {
    display: flex;
    max-width: 460px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.professional__name {
    & span {
        display: inline-block;
        max-width: 125px;
        font-size: 18px;

        &:first-child {
            font-weight: 750;
            color: #fff;
        }

        &:last-child {
            font-weight: 500;
            color: #c2e8f7;
        }
    }
}

.professional__id {
    margin-top: -65px;
}

@media (max-width: 1030px) {
    .professional__footer {
        margin-left: 0;
    }

    .professional__id {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .professional__info {
        padding-right: 38px;
    }
}

@media (max-width: 480px) {
    .professional__info {
        padding-right: 15px;
        padding-left: 15px;
    }
}
